profile                   = ""
region                    = "eu-central-1"
stage                     = "local"
hostname                  = "example.com"
email                     = "test@example.com"
rds_instance_type         = "db.t3.micro"
vpc_id                    = ""
vpc_cidr_block            = []
database_subnet_group     = ""
cluster_security_group_id = ""